@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Regular.ttf') format('ttf'),
        url('./assets/fonts/Lato-Regular.woff2') format('woff2'),     
        url('./assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black';
    src: url('./assets/fonts/Lato-Black.ttf') format('ttf'),
        url('./assets/fonts/Lato-Black.woff2') format('woff2'),     
        url('./assets/fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src:  url('./assets/fonts/Lato-Light.ttf') format('ttf'),
        url('./assets/fonts/Lato-Light.woff2') format('woff2'),     
        url('./assets/fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('./assets/fonts/Lato-Bold.ttf') format('ttf'),
        url('./assets/fonts/Lato-Bold.woff2') format('woff2'),     
        url('./assets/fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad-Pro';
    src:url('./assets/fonts/MyriadPro-Regular.ttf') format('ttf'),
    url('./assets/fonts/MyriadPro-Regular.woff2') format('woff2'),     
    url('./assets/fonts/MyriadPro-Regular.woff') format('woff'); 
            font-weight: normal;
    font-style: normal;
}


body{
    width: 1020px;
    padding: 0;
    margin: 0;
}

h1,
h3{
    margin: 0;
    padding: 0;
}

h1>span{
    text-transform: none;
}

/* ====================== Get a Quote Section ============== */
.quote{
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
   
}

.section-wrapper{
    width: 940px;
    margin: 0 auto;
}

.quote-title{
    padding-top: 60px;
    font-family: Lato-Black, sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-transform: capitalize;
    letter-spacing: -0.5px;
}

.quote-description{
    
    font-family: Lato-Light, sans-serif;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: -0.05px;
    line-height: 30px;
}

.quote-description>span{
    letter-spacing: -0.228px;
}

.quote-flex-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.quote-form{
    width: 620px;
}

.quote-contact{
    width: 300px;
    font-size: 12px;
    color: #ffffff;
}

.form-input{
    width: 606px;
    height: 38px;
    border-radius: 3px;
    border: none;
    padding: 0;
    padding-left: 14px;
    margin-bottom: 16px;
    font-family: Lato, sans-serif;
    font-size: 12px;
    color: #ffffff;
    background-color: #d6564f;
    letter-spacing: 0.265px;
}

.form-input::placeholder,
.form-textarea::placeholder{
    color: #ffffff;
    opacity: 0.6;
}

.form-textarea{
    width: 606px;
    height: 192px;
    border-radius: 3px;
    border: none;
    padding: 0;
    padding-top: 10px;
    padding-left: 14px;
    margin-bottom: 16px;
    font-family: Lato, sans-serif;
    font-size: 12px;
    color: #ffffff;
    background-color: #d6564f;
    resize: none;
   
}

.form-button{
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    padding: 5px;
    background-color:#d6564f;
}

.form-button:hover{
    border: 1px solid #ffffff;
    cursor: pointer;

}

.contact-title{
    text-transform: capitalize;
    font-family: Lato-Black, sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-top: -2px;
    letter-spacing: 0.15px;
}

.contact-description{
    margin-top: 9px;
    text-align: justify;
    font-family: Lato, sans-serif;
    line-height: 21px;
    letter-spacing: -0.07px;
}

.contact-items{
    padding-top: 14px;
    
}

.contact-item{
    display: flex;
    align-items: center;
    padding-bottom:8px;
    padding-left: 2px;
    
}

.contact-img{
   margin-right: 13px;
}
.contact-link{
    text-decoration: none;
    color:#ffffff;
}

.contact-link:hover{
    text-decoration: underline;
}

.contact-item > p{
    margin: 0;
    letter-spacing: 0.3px;
}

/* =========================================================== */


/* ================== Footer Section ===================== */
.footer{
    height: 76px;
    background-color: #2d303a;
}

.footer-author{
    margin: 0;
    text-transform: capitalize;
    font-family: Lato, sans-serif;
    font-size: 12px;
    color: #767e9e;
    line-height: 20px;
    letter-spacing: -0.20px;
}

.footer-flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 21px;
    
}

.footer-social-flex{
    display: flex;
}

.footer-social-item{
    margin-left: 8px;
}

.footer-social-item:hover{
    cursor: pointer;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: bounce;
}

@keyframes bounce {
    from {
      transform: translateY(-15%);
    }
  
    to {
      transform: translateY(0%);
    }
  }

/* ========================================================== */