@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Regular.ttf') format('ttf'),
        url('./assets/fonts/Lato-Regular.woff2') format('woff2'),     
        url('./assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black';
    src: url('./assets/fonts/Lato-Black.ttf') format('ttf'),
        url('./assets/fonts/Lato-Black.woff2') format('woff2'),     
        url('./assets/fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src:  url('./assets/fonts/Lato-Light.ttf') format('ttf'),
        url('./assets/fonts/Lato-Light.woff2') format('woff2'),     
        url('./assets/fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('./assets/fonts/Lato-Bold.ttf') format('ttf'),
        url('./assets/fonts/Lato-Bold.woff2') format('woff2'),     
        url('./assets/fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad-Pro';
    src:url('./assets/fonts/MyriadPro-Regular.ttf') format('ttf'),
    url('./assets/fonts/MyriadPro-Regular.woff2') format('woff2'),     
    url('./assets/fonts/MyriadPro-Regular.woff') format('woff'); 
            font-weight: normal;
    font-style: normal;
}


body{
    width: 1020px;
    padding: 0;
    margin: 0;
}

h1,
h3{
    margin: 0;
    padding: 0;
}

/* === Portfolio section === */

.portfolio{
    height: 864px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
   
}

.section-wrapper{
    width: 940px;
    margin: 0 auto;
}

.portfolio-title,
.about-title{
    padding-top: 60px;
    font-family: Lato-Black, sans-serif;
    font-size: 30px;
    color: #666d89;
    text-transform: capitalize;
    letter-spacing: 0.3px;
}

.porfolio-description,
.about-description{
    
    font-family: Lato-Light, sans-serif;
    font-size: 18px;
    color: #767e9e;
    letter-spacing: -0.2px;
    line-height: 30px;
}

.portfolio-nav{
    padding: 0;
    margin-top: -6px;
}

.nav-button{
    margin-right: 8px;
    padding: 2px 6px;
    
    background-color:  #2d303a;
    border: 1px solid #767e9e;
    border-radius: 5px;

    font-family: Lato-Light, sans-serif;
    font-size: 12px;
   
    color:  #767e9e;
    text-transform: capitalize;
    cursor: pointer;
}

.nav-button:hover{
    color: #ffffff;
    border-color: #ffffff;
}

.nav-button:first-child{
    padding-right: 8px;
}

.nav-button:nth-child(3),
.nav-button:last-child{
    margin-left: -2px;
}

.portfolio-img-conteiner{
    width: 940px;
    height: 600px;
    padding-top: 19px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.img-item{
    width: 220px;
    height: 187px;
   overflow: hidden;
   margin-bottom: 20px;
}

/* === About Us section === */

.about{
    background-color: #f2f2f2;
    height: 728px;
    border-bottom: 6px solid #ffffff;
}

.about-conteiner{
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
}



.about-title{
    letter-spacing: normal ;
}
.about-description{
    text-align: justify;
}

.about-item{
    width: 300px;
    
    
}
.item-img{
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.item-title{
    padding-top: 15px;
    text-transform: capitalize;
    font-family: Lato-Black, sans-serif;
    font-size: 18px;
    color: #666d89;
}

.item-description{
    margin-top: 9px;
    text-align: justify;
    font-family: Lato, sans-serif;
    font-size: 12px;
    color: #767e9e;
    line-height: 20px;
    letter-spacing: -0.20px;
}

.social-conteiner{
    display: flex;
    padding-top: 12px;
}

.social-item{
    margin-right: 10px;
    

}

.social-item:hover{
    cursor: pointer;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: bounce;
}

@keyframes bounce {
    from {
      transform: translateY(-15%);
    }
  
    to {
      transform: translateY(0%);
    }
  }

.social-item:nth-child(2),
.social-item:nth-child(3){
    margin-right: 8px;
}

.social-item--position{
    margin-right: 8px;
}

.item-title--position{
    letter-spacing: -0.2px;
}

.item-description--position{
    text-align: justify;
    letter-spacing: 0.01px;
}