@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Regular.ttf') format('ttf'),
        url('./assets/fonts/Lato-Regular.woff2') format('woff2'),     
        url('./assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Black';
    src: url('./assets/fonts/Lato-Black.ttf') format('ttf'),
        url('./assets/fonts/Lato-Black.woff2') format('woff2'),     
        url('./assets/fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src:  url('./assets/fonts/Lato-Light.ttf') format('ttf'),
        url('./assets/fonts/Lato-Light.woff2') format('woff2'),     
        url('./assets/fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('./assets/fonts/Lato-Bold.ttf') format('ttf'),
        url('./assets/fonts/Lato-Bold.woff2') format('woff2'),     
        url('./assets/fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
}

.body-wrapper{
    width: 1020px;
    margin: 0;
    padding: 0;
}

/* ==== header =================*/
.header{
    background: #2d303a;
    font-family: Lato-Bold, sans-serif;
    border-bottom: 6px solid #323746;
}

.header-wrapper{
    width: 940px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}

.header-logo{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 25px;
    margin: 21px 0;
    letter-spacing: -0.8px;
}

.logo-star{
    color: #f06c64;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.header-navbar{
    padding-top: 17px;
}

.header-list{
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    color:#323746;
}


.list-item{
    font-size: 12px;
    
    text-transform: uppercase;
    margin-left: 13px;
    
}

.list-item:first-child{
    list-style: none;
   margin-left: 8px;
}

.list-link{
   text-decoration: none;
   color: #ffffff;
}

.list-link:hover,
.list-link:active
{
    color:#f06c64;
}

/* === SLIDER ==== */
.slider{
    width: 1020px;
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
   
}

.slider-wrapper{
    width: 940px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 53px;
}

.vertical-iPhone{
    margin-right: 13px;
}
.horizontal-iPhone{
    margin-right: -2px;
}

.slider-leftbtn,
.slider-rightbtn{
    cursor: pointer;
}

/* ==== Our Services ==== */

.services{
    width: 1020px;
    height: 494px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.services-wrapper{
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h1,
h3{
    margin: 0;
    padding: 0;
}

.services-title{
    padding-top: 59px;
    letter-spacing: 0.09px;
    font-size: 30px;
    font-family: Lato-Black, sans-serif;
    text-transform: capitalize;
    color: #666d89;
}

.services-description{
    font-family: Lato-Light, sans-serif;
    font-size: 18px;
    color: #767e9e;
    letter-spacing: -0.2px;
    line-height: 30px;
    text-align: justify;
}

.services-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 29px;
}

.services-item{
    display: flex;
    width: 300px;
    padding-bottom: 35px;
}

.item-wrapper{
    padding-left: 20px;
}

.item-title{
    font-family: Lato-Black, sans-serif;
    font-size: 18px;
    color: #666d89;
    margin-top: -6px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.item-title--margin{
    margin-top: -5px;
}

.item-content{
    font-family: Lato, sans-serif;
    font-size: 12px;
    color: #767e9e;
    line-height: 21px;
    text-align: justify;
}

